@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

.pi {
  font-family: 'primeicons' !important;
  font-style: normal;
  font-weight: normal;
}

.p-toast {
  width: 22rem !important;
}

@media (max-width: 640px) {
  .p-toast {
    width: calc(100vw - 2rem) !important;
  }
}
